body{
  /* https://www.color-hex.com/color/d3d3d3 */
  background-color: Transparent ,
  font-family: Bungee Outline;
  font-weight: 900;

  overflow: hidden;
  animation: blur 0.5s ease-out;

}
*{
  outline: none;
  border: 0px dashed blue;
  padding: 5;
  margin: 7;
  box-sizing: border-box;
}
#title_container{
  width: 100%;
  height: 230px;
  box-shadow: 10px 10px 5px red;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: midnightblue;/*#46759;*/
  background-image: linear-gradient(to right, midnightblue , skyblue);
  border-bottom: 6px solid #fff00;
  box-shadow:  30px - 18px #D64045;

}
#title_inner_container{
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: white; */
  border-radius: 200px;
}
#title{
  display: inline-block;
  color: #fff;/*EBEBD3, C5283D*/
  font-size: 55px;
  letter-spacing: 2px;
  user-select: none;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#join_container{
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin-top: 80px;

}
#join_inner_container{
  width: 50%;
  height: 100%;
}
#join_input_container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
#join_input{
  width: 60%;
  height: 40px;

  color: #1D3354;
  font-family: Varela Round;
  font-size: 15px;
  font-color:white;
  font-weight: bold;
  text-align: center;
  background-color:white;
  border-bottom: 2px dashed #1D3354;

}
#join_input:focus{
  box-shadow: 0 10px 30px -17px #1D3354;
}
#join_button_container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
#join_button{
  width: 60%;
  height: 40px;
  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
 border-radius: 60px; 
}

#chat_container{
  width: 100%;
  height: 510px;
  display: flex;
  justify-content: center;

  float: left;
  margin-top: 1px;
  /* Fade in container */
  animation: fadeIn 1s linear;

}
#chat_inner_container{
  width: 80%;
  height: 90%;
  opacity: 1.0;
  background-color: red;
  background-image: linear-gradient(to right, red , yellow);
}
#chat_content_container{
  width: 100%;
  height: 90%;

  float: left;
  overflow-y: auto;
  font-family: Varela Round;

  padding-left: 30px;
  padding-right: 20px;
}
#chat_input_container{
  width: 100%;
  height: 10%;
  align-itam: centre;
  float: left;
  border-bottom: 2px dashed #1D3354;
  background-color: LightGrey;

  padding-left: 5px;
  padding-right: 2px;
  font-family: Varela Round;
  margin-top: 20px;
}
#chat_input{
  width: 94%;
  height: 100%;
  float: left;
  background-color: Transparent;
  background-image: linear-gradient(to right, white , lightgrey , silver);
  color: #4169e1;
  font-size: 15px;
}
#chat_input_send{
  width: 5%;
  height: 100%;
  float: left;
  font-weight: bold;
  font-size: 20px;
  background-image: linear-gradient(to right, blue , purple);
  text-align: left;
  color:white;
  border-radius: 50px;
  bottom: 20px
  right: 10px; 
}
#chat_input_send.enabled{
  color:white;
  background-color: red;
  background-image: linear-gradient(to right, red , purple);
  cursor: pointer;

}
#chat_logout_container{
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin-top: 25px;
}
#chat_logout{
  color: white;
  background-image: linear-gradient(to right, red, purple, orange);
  cursor: pointer;
  border-radius: 60px;
  bottom: 40px 
}
#chat_logout:hover{
  text-decoration: underline;
}
.message_container{
  width: 100%;
  display: inline-block;
  margin-bottom: 50px;

}
.message_inner_container{
  width: 100%;
  display: inline-block;
  color: #1D3354;
}
.message_user_container{
  width: 100%;
  display: inline-block;
}
.message_user{
  font-weight: bold;
  font-size: 15px;
}
.message_content_container{
  width: 100%;
  display: inline-block;

  white-space: pre-wrap;
  word-wrap: break-word;
}
.message_content{
  font-weight: normal;
  font-size: 13px;
  margin-top: 0.1px;
  font-color:  #fff00;
}

.enabled{
  transition: background-color 0.5s;
  color: #fff00;
  background-color: #D64045; /*#5B7553;*/
  cursor: pointer;
}
#title_container.chat_title_container{
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  height: 100px;
}
#title.chat_title{
  transition: 0.8s;
  font-size: 47px;
}
.loader_container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  border-top: 6px solid #D64045;
  border-bottom: 6px solid #1D3354;
  border-left: 6px solid #E9FFF9;
  border-right: 6px solid #E9FFF9;
}

